body,ul,li,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
a{
	text-decoration:none;
}
ul,li{
	list-style: none;
}
#canvas{
		border:1px solid #000;
		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
}
.cartel{
	position: absolute;
	left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    .tips{
    	position: absolute;
    	top:0;
    	left: 0;
    	bottom: 0;
    	right: 0;
    	margin: auto;
    	width: 600px;
    	height: 300px;
    	background: #fff;
    	text-align: center;
    	.anniu{
    		display: inline-block;
    		padding: 10px 30px;
    		margin-top:150px;
            background: red;
            width: 80px;
            height: 40px;
            line-height: 40px;
        }
        #close{
        	width: 20px;
        	height: 20px;
			border-radius: 50%;
		    background: rgba(0,0,0,0.5);
		    display: block;
		    position: absolute;
		    right: -10px;
		    top:-10px;
		    &::after{
              content:'X';
              color: #fff;
              font-size: 20px;
              line-height: 20px;
		    }
        }
        #tishi{
           font-size: 40px;
           font-family: "consolas"
        }
      
    }
}
#save{
	display: block;
	width: 100px;
	height: 50px;
	background: red;
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	display: none;
}